<h1>Create an new Entity</h1>
<form style="margin-left: 24px;" id="form-entity-create" action="/static/entity_create" method="POST">
  <label for="name">Name: </label>      
  <input type="text" id="name" name="name" />
  <br />
  <br />
  <label for="name">Role: </label>
  <input type="text" id="role" name="role" value="caller" />      
  <br />
  <br />
  <button type="submit">Create</button>
</form>

