/*!
 */
 html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, Helvetica, Arial, sans-serif;
 }

  .page {
    padding-top: 64px;
  }

  .subpage {
    min-height: calc(100vh - 168px); 
  }
  
 .header {
  color: #555;
  border: 0;
  padding: 0.625rem 0;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  background-color: #FFF !important;
  position: fixed;
  top: 10px;
  width: calc(100% - 16px);
  z-index: 1000;
 }

 .footer {
    padding: 12px 0;
    z-index: 2;
    position: relative;
    text-align: center;
    color: #3C4858;
    text-decoration: none;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #eee;
 }

 .home {
  position: relative; 
  width: 100%; 
  height: calc(100vh - 160px); 
  background-image: url('/assets/images/identities.png'); 
  background-repeat: no-repeat; 
  background-position-y: center; 
  background-size: cover; 
 }
 .home .highlight {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-size: 32px; 
  padding: 12px 36px; 
  max-width: 320px; 
  background-color: #eee; 
  opacity: 0.6; 
 }

 .grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
 }

 .grid .item {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: #f0f0f0;
  flex-basis: 20%;
  max-width: 20%;

 }

 .grid .item .key {
  position: absolute;
  top: 6px;
  right: 6px;  
 }

 .grid .item .key.haskey { 
  color: green;
 }

 .grid .item .key.nokey { 
  color: red;
 }

 .grid .item:nth-child(odd) {
  background-color: #fafafa;
 }

.button {
    line-height: 30px;
    white-space: nowrap;
    border-radius: 3px;
    text-transform: none;
     display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    color: rgb(25, 118, 210);
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.selected {
  background-color: rgb(25, 118, 210);
  color: #fff;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .grid .item {
    flex-basis: 33%;
    max-width: 33%;
  }   
}


@media (max-width: 720px) {
  .grid .item {
    flex-basis: 100%;
    max-width: 100%;
   }   
}
